.screen2

  height: 100vh
  background: url("../img/map.png") no-repeat center
  background-size: 100%

  .navigation
    width: 5px
    height: 5px
    border-radius: 50%
    background-color: gray
  .navigation.active
     background-color: green
  .h2
    color: #a5a8a3
.bcg

  display: flex
  justify-content: center
  align-items: center
  width: 25px
  height: 25px
  border-radius: 50%
  background: url("../img/arrow.png")
  background-position: center
.text-ab
  line-height: 1.5
.show
  width: 50%